<%- include('./partials/header') %>



  <div id="wrapper">    

    <%- include('./partials/nav') %>
    
    <%- include('./partials/traincarousel') %>

    <div class= "container">
         <p class="text py-4 mb-3 fs-3 text-center"> Let's find something tasty</p>          
    </div>


    <%- include('./partials/menu') %>


    <%- include('./partials/foodcarousel') %>

    <%- include('./partials/footer') %>
    